.wrapper{
    width: 100%;
    height: 100%;
 
}

.content{
    height: 50%;
    width: 100%;
   
    position: relative;
}

.top{
    color: #fff;
    padding-top: 150px;
    height: 30%;
     /* background: purple; */
}

.bottom{
    /* background: purple; */
}



.switch{
    width: 100%;
    color: #fff;
    position: fixed;
    bottom: 30px;
    cursor: pointer;
}

.other_user{    
    height: auto;
    width: 122px;
    /* background: red; */
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 25px;
}

.other_user ul>li{
    height: 50px;
}

/* Product name and coopany name styles */
.product_name{
    /* background: red; */
    position: relative;
    padding: 0 40px 0 40px;
}

.left, .right{
    position: absolute;
    width: auto;
    top: 60px;
    
}

.left{
left: 0;
/* background: purple; */
left: 40px;
}

.right{
    right: 0;
    /* background: green; */
    right: 40px;
    
}


