<div class="wrapper">
  <!-- large clock to display time and date -->
  <div class="content top">
    <clock></clock>
  </div>

  <!-- Active user information and access section -->
  <div class="content bottom">
    <div class="container center_content">
      <div class="section center_content">Alexis Ohanian</div>
      <div class="section">
        <avatar size="180" src="../../../assets/img/alexis.jpg"></avatar>
      </div>
      <div class="section center_content">
        <input type="password" name="" id="" class="input" placeholder="Password">
        <button mat-button (click)="navigation(route.login)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>

    <!-- Switch user  button if none of the logged in user is not you -->
    <div class="switch center_content" (click)="navigation(route.switch)">
      Switch User
    </div>
  </div>

  <!-- Mini avatar view of other users that are currently logged in to the current browser -->
  <div class="other_user">
    <ul>
      <li *ngFor="let user of additionalUsers">
        <secondary-users [userObject]="user"></secondary-users>
      </li>
    </ul>   
  </div>
  <version></version>
</div>