<div class="wrapper">
  <div class="product_name">
    <div class="left">
      <logo color="primary"></logo>
    </div>

    <div class="right">
      <company-name color="primary"></company-name>
    </div>


  </div>

  <!-- large clock to display time and date -->
  <div class="content top">
    <clock></clock>
  </div>

  <!-- Active user information and access section -->
  <div class="content bottom">
    <lockscreen-avatar [user]="activeUser" (onClick)="authenticate($event)"></lockscreen-avatar>

    <!-- Switch user  button if none of the logged in user is not you -->
    <div class="switch center_content" (click)="navigation(route.login)">
      Switch User
    </div>
  </div>

  <!-- Mini avatar view of other users that are currently logged in to the current browser -->
  <div class="other_user">
    <ul>
      <li *ngFor="let user of users">
        <secondary-users [userObject]="user"  (userClick)="onAdditionalUserClick($event)"></secondary-users>
      </li>
    </ul>
  </div>
  <version></version>
</div>