<div class="wrapper">
  <div class="badge center_content {{isCount}}" >{{count}}</div>
  <mat-icon class="icon" (click)="openDrawer()">notifications</mat-icon>
  <div class="content" [hidden]="isOpen">
    <div class="header center_content ">
      Notifications
    </div>
    <ul class="content_item">
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>
      <li>
        <notification-item></notification-item>
      </li>

    </ul>
  </div>
</div>