.wrapper{
    /* background: red; */
    height: 100%;
    position: relative;
}
p:nth-child(1){
    font-size: 12px;
}


.footer{
    position: absolute;
    bottom: 30px;
    width: 100%;
    /* background: blue; */
    height: auto;
    
}

/* Grid Settings */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding-top: 70px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.377);
    padding: 1px;
    /* font-size: 30px; */
    text-align: left;
    height: 60px;
  }

  .address{
      margin-top: 30px;
      margin-bottom: 5px;
      /* background: green; */
      height: 30px;
      font-weight: 700;
  }