.wrapper{
    height: 100%;
    width: 100%;
    background: #1d1d24;
    color: antiquewhite;  
    overflow: hidden;  
    position: relative;
}

.logo{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem;
    font-weight: 300;
    background: #f78a2b;
    float: left;
}

.logo  > em{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

/* User settings style */
.user_settings{
    height: 200px;
    width: 100%;
    /* background: rgb(238, 156, 4); */
    float: left;
}

/* Navigation Links with icons */
.navigation{
    width: 100%;
    height: auto;
    float: left;
    /* background: rgb(219, 143, 0); */
    
}

.navigation > ul > li{
    list-style: none;
    
}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation li{
    padding-left: 20px;
    height: 60px;

    /* font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    white-space: normal;
    -webkit-line-clamp: 2; */

    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.6rem;
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.navigation li > img, mat-icon{
    content: ' ';
    margin-right: 25px;
    color: #ffffff;
    
}

.navigation li:hover{
    background: rgba(17, 17, 17, 0.705);
    cursor: pointer;
}

.active{
    background: rgba(17, 17, 17, 0.705);
    font-weight: 700;
    color: rgba(236, 235, 235, 0.836);
}

.footer{
    border-top: 1px solid #3333;
    height: 50px;
    background: #1d1d24;
    width: 300px;
    clear: both;
    position: fixed;
    bottom: 0;
}