<div class="wrapper">

  <!-- Main application logo -->
  <div class="logo">
    <logo></logo>
  </div>

  <!-- user avatar and profile -->
  <div class="user_settings">
    <user-settings></user-settings>
  </div>

  <!-- navigation links and icons -->
  <div class="navigation">
    <ul>
      <li *ngFor="let nav of navigation" class="{{nav.status}}" title="{{nav.title}}" (click)="navigate(nav.position)">
        <mat-icon>{{nav.icon}}</mat-icon>{{nav.value}}
      </li>
    </ul>
  </div>

  <!-- Footer for the entire application -->
  <div class="footer">
    <footer></footer>
  </div>
</div>