.wrapper{
    height: 70px;
    /* background: red; */
    margin-bottom: 5px;
    padding: 3px;
}

/* gride layout */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* background-color: #2196F3; */
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(94, 90, 90, 0.356); */
    padding: 0px;
    font-size: 16px;
    text-align: center;
  }

mat-form-field{
    margin-left: 5px;
    width: auto;
}

mat-card{
    margin-top: 20px;
}

.block{
    display: inline-block;
    width: auto;
    padding: 5px;
    height: 100%;
    /* background: red; */
    margin-right: 5px;
    overflow: hidden;
}

.block > label{
    width: 100%;
    clear: both;
    /* font-weight: bold; */
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
}

/* Status  */
.status, .model{
    /* background: blue; */
    /* color: aliceblue; */
    /* margin-top: -20px; */
    border-radius: 5px;
    width: 100%;
    text-align: left;
    padding: 5px;
    position: relative;
}

.placeholder{
    cursor: pointer;
    
}

.placeholder:hover{
    color: black;
}

.inactive{
    color: rgb(167, 161, 161);
}

.terminal{
    
    font-size: 11px;
}