<div class="wrapper">

    <div class="graphic"></div>
    <div class="title center_content">Forget you Password?</div>
    <div class="detail center_content">Enter your username and we will send you a link to reset yor password</div>
    <div class="form-group center_content">
        <mat-form-field>
            <input matInput placeholder="username" type="text">
        </mat-form-field>
    </div>

    <div class="opt center_content">
        <button mat-raised-button  (click)="navigate()">Cancel</button>
        <button mat-raised-button color="primary" (click)="create()">Send</button>
    </div>

    <div class="version"><version></version></div>
</div>