.wrapper{
    position: relative;
    width: 90px;
    
}
.company_name{
    width: auto;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
}

.tm{
    font-size: 10px;
    position: absolute;
    right: -15px;
    top: 0;
}

.tm::after{
    content: 'TM'
}

.primary{
    color: #fff;
}