.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
}

.header{
    width: 100%;
    /* background: #5264AE; */
    height: 80px;   
}

.header > .logo{
    margin-top: 50px;
    color: #1e90ff;
    margin-left: 30px;
}

.section{
    width: 50%;
    height: 100%;
    float: left;
    /* background: blue; */
    overflow: hidden;
    
}


h4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #80808b;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 2px;
    font-size: 14px;
    padding-left: 15px;
}
h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #272729;
    font-weight: normal;
    
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 40px;
   margin-top: 30px;
}


.form{
    /* background: green;   */
    height: 100%;  
    padding-left: 40px;
    padding-top: 30px;
    font-size: 12px;
}

.example-full-width{
    width: 85%;
    /* background: red; */
    border-bottom: 1px sold #fff;
    margin-top: 4px;
}

.example-full-width:first-child{
    margin-top: -10px;
    margin-bottom: 5px;
}

.info{
    margin-top: 80px;
} 

.line{
      height: 350px;
      width: 2px;
      float: left;
      margin: auto;
      position: relative;
      background-color: #1e90ff;
  }

.mat-raised-button{
    background-color: #1e90ff!important;
    color: aliceblue;
}

  .opt h5{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #80808b;
      font-weight: normal;
      margin-top: 68%;
  }

  .btn_login{
      border: 1px solid #80808b;
      border-radius: 25px;
      width: 100px;
      margin: auto;
  }

.logo{
    
}