<div class="wrapper">
  <div class="header">
    <div class="logo">
      <logo></logo>
    </div>

    <h1>Create an account</h1>
  </div>
  
  

  <div class="section">
    <form class="form">

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Position" [formControl]="positionControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let job of jobs" [value]="job">
                {{job.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="positionControl.hasError('required')">Please choose a job position</mat-error>
            <mat-hint>{{positionControl.value?.hint}}</mat-hint>
          </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your Name" type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Re-Type Password" type="password">
      </mat-form-field>

      <button mat-raised-button class="'sys-accent'" >Sign Up</button>
    </form>
  </div>

   <div class="section">
      <div class="line sys-accent"></div>
    <h5 class="info center_content">Already Have An Account?</h5>
    <div class="center_content btn_login">
      <button mat-button (click)="backToLogin()">Login</button>
    </div>    
  </div>

<version color="dark"></version>
</div>