.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
}

.company_name{
    width: 110px;
    margin-top: 50px;
    padding-left: 40px;
    text-transform: capitalize;
    font-size: 24px;
    position: relative;
    font-weight: 500;
}

.tm{
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.tm::after{
    content: 'TM'
}



.header{
    width: 100%;
    /* background: #5264AE; */
    height: 80px;
}

.section{
    width: 50%;
    height: 100%;
    float: left;
    /* background: blue; */
    overflow: hidden;
}


h4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #80808b;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 2px;
    font-size: 14px;
    padding-left: 15px;
}
h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #272729;
    font-weight: normal;
    
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 40px;
   margin-top: 30px;
}


.form{
    /* background: green;   */
    height: 100%;  
    padding-left: 40px;
    padding-top: 30px;
    font-size: 12px;
}

.example-full-width{
    width: 85%;
}

.info{
    margin-top: 80px;
} 
  .line{
      height: 350px;
      width: 2px;
      background-color: crimson;
      float: left;
      margin: auto;
      position: relative;
  }

  .opt h5{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #80808b;
      font-weight: normal;
      margin-top: 68%;
  }