<div class="wrapper">
  <div class="header">
    <div class="company_name">transico <div class="tm"></div></div>
    <h1>Create an account</h1>
  </div>
  
  

  <div class="section">
    <form class="form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your Name" type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="Re-Type Password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Sign Up</button>
    </form>
  </div>

   <div class="section">
      <div class="line"></div>
    <h5 class="info center_content">Already Have An Account?</h5>
    <div class="center_content">
      <button mat-raised-button (click)="navigate()">LOGIN</button>
    </div>    
  </div>

<version color="dark"></version>
</div>