<div class="wrapper">
  <h1 mat-dialog-title>Add New Record </h1>
  <div mat-dialog-content>
    <p><b>Date:</b> {{today|date:'fullDate'}}</p>
    <div class="row">
        <mat-form-field>
            <mat-select placeholder="Inpesctors" [formControl]="selected" [errorStateMatcher]="matcher">
              <mat-option value="valid">Susan White</mat-option>
              <mat-option value="valid">John Brown</mat-option>
              <mat-option value="valid">Winston Black </mat-option>
            </mat-select>
            <mat-hint>Inspector Group</mat-hint>
            <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>
    </div>

    <div class="row content">
      <time-holder></time-holder>
      <time-holder></time-holder>
      <time-holder></time-holder>
      <time-holder></time-holder>
      <time-holder></time-holder>

    </div>
  </div>
  <div mat-dialog-actions class="footer">
      <button mat-raised-button color="primary">Create</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</div>