.wrapper{
position: relative;
/* background: red; */
height: 100%;
width: 100%;
}

p:first-child{
    font-size: 14px;
}

p:nth-child(2){
    font-size: 12px;
}

.footer{
    position: absolute;
    bottom: 15px;
    width: 100%;
    /* background: blue; */
    height: auto;
}

/* Grid Settings */
.grid-container {
    display: grid;
    grid-template-columns: 10% auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 0px solid rgba(0, 0, 0, 0.377);
    padding: 1px;
    /* font-size: 30px; */
    text-align: left;
  }