<div class="wrapper">
  <h1 mat-dialog-title>Bus Inventory</h1>
       <p>Use the form below to Create a new bus for this Depot.</p>
      <form class="depot-form" (ngSubmit)="onSubmit(myForm.value)" [formGroup]=myForm>
        <div class="grid-container">
          <div class="grid-item">
            <!-- Depot Name -->
            <mat-form-field class="example-full-field">
              <input matInput placeholder="Depot Name" value="{{data.depotName}}" [disabled]="true"/>
              <mat-hint>E.g. Lyndust Road</mat-hint>
            </mat-form-field>
          </div>

          <div class="grid-item">
            <!-- Bus Model number -->
            <mat-form-field class="example-full-field">
              <input matInput placeholder="Bus Model Number" formControlName="busModel" />
              <mat-hint>E.g. 12N2345</mat-hint>
            </mat-form-field>
          </div>

          <div class="grid-item">
            <!-- condition -->
            <mat-form-field>
              <mat-label>Bus Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="Good">Good</mat-option>
              <mat-option value="neutral">Neutral</mat-option>
              <mat-option value="Bad">Bad</mat-option>
            </mat-select>
            <mat-hint>Unit Condition i.e. good, etc...</mat-hint>
            </mat-form-field>
           
          </div>
          <div class="grid-item">
              <div class="address"></div>
            <!-- Last Service Date -->
           <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Service Date" formControlName="serviceDate" type="date"/>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="grid-item">
            <div class="address"></div>
            <!-- Seat Count -->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Seat Count" formControlName="seatCount" type="number" />
              <mat-hint>Number of Seat bus carries</mat-hint>
            </mat-form-field>
          </div>
          <div class="grid-item">
            <div class="address"></div>
            <!-- Route number OPTIONAL -->
            <mat-form-field>
                <mat-label>Bus Route</mat-label>
              <mat-select formControlName="routeNumber">
                <mat-option  *ngFor="let route of dbRoutes" value="{{route.number}}">{{route.number}}</mat-option>
               </mat-select>
              <mat-hint>Optional</mat-hint>
              </mat-form-field>
          </div>
         
          <div class="grid-item"></div>
          <div class="grid-item"></div>
        </div>
        <div class="footer">
          <div mat-dialog-actions>
            <button mat-button  (click)="onNoClick()">Cancel</button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!myForm.valid"
              type="submit">
              Add
            </button>
          </div>
        </div>
      </form>
</div>
