.wrapper{
    padding: 10px;
}

.content{
width: 100%;
height: 500px;
background: chartreuse;


}

.right, .left{
    float: left;
    height: 100%;
    width: 50%;
}

.right{
    background: red;
}

.left{
    background: blue;
}

/* Maps settings */
agm-map{
    width: 100%;
    height: 100%;
}