.wrapper{
    height: 100vh;
}

.header{
    height: 40px;
    /* background: red; */
    float: left;
    width: calc(100% - 300px);
    
}

.sidebar{
    width: 300px;
    background: #fff;
    height: calc( 100% - 20px);;
    float: left;
    overflow: hidden;
}

.content{
    height: calc( 100% - 60px);
    /* background: palevioletred; */
    width: calc(100% - 300px);
    float: left;
}

.footer{
    border-top: 1px solid #3333;
    height: 19px;
    background: #1d1d24;
    width: 100%;
    clear: both;
}