.wrapper{
    height: 100vh;
    background: #ffffff;
}

.header{
    height: 40px;
    /* background: red; */
    float: left;
    width: calc(100% - 300px);
    
}

.sidebar{
    width: 300px;
    background: #fff;
    height: 100%;
    float: left;
    overflow: hidden;
}

.content{
    height: calc( 100% - 40px);
    /* background: palevioletred; */
    width: calc(100% - 300px);
    float: left;
}
