.wrapper{
    height: 540px;
    width: 100%;
    padding: 5px;
    overflow: hidden;
    /* background: red; */
    }
    
    p:first-child{
        font-size: 14px;
    }
    
    p:nth-child(2){
        font-size: 12px;
    }
    
    .footer{
        position: absolute;
        bottom: 10px;
        width: 100%;
        /* background: blue; */
        height: auto;
    }
    
    /* Grid Settings */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* background-color: #2196F3; */
        /* padding: 10px; */
      }
      .grid-item {
        /* background-color: rgba(255, 255, 255, 0.8); */
        border: 0px solid rgba(0, 0, 0, 0.377);
        padding: 1px;
        /* font-size: 30px; */
        text-align: left;
        height: 60px;
      }
    
      /* Exmaple Code */
      .example-small-box, .example-large-box {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        margin: 16px;
        padding: 16px;
        border-radius: 8px;
      }
      
      .example-small-box {
        height: 320px;
        width: 675px;
      }
      
      .example-large-box {
        height: 300px;
        width: 300px;
      }
    
      .address{
          margin-top: 50px;
          margin-bottom: 5px;
          /* background: green; */
          height: 30px;
          font-weight: 700;
      }
    
      .parish{
          /* background: purple; */
          padding-top: 10px;
          height: 80px;
    
      }
    
      .depot-form{
        /* background: green; */
        height: 370px;
        position: relative;
        overflow: hidden;
      }