.wrapper{
    position: relative; 
    padding: 0;
    margin: 0;   
}

.content{
    position: absolute;
    width: 300px;
    height: auto;
    right: 30px;
    top: 0;
    background: rgb(253, 253, 253);

    /* Shadow  */
    box-shadow: 1px 1px 1px 1px #cccaca7a;
    
}

.header{
    height: 50px;
    background: #e2dfdf;
    justify-content: left;
    padding-left: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 1px 0px 4px #80808b;
    overflow: hidden;
}

.info_container{
    float: left;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* background: red; */
}

.info_container > ul {
    padding-left: 10px;
    padding-top: 10px;
}

.sub_content ul{
    cursor: pointer;
    overflow: hidden;
    /* background: red; */
}

.sub_content li{
    height: 40px;
    width: 100%;
    padding-left: 18px;
    justify-content: left;
    color: #6d6d6d;
}

.sub_content li > mat-icon{
    margin-right: 20px;
    color: #535355;
}

.sub_content li:hover{
    background: #c3c3c5;
    color: #1b1b1b;
}
