<mat-card>
  <!-- Assignment Status  -->
  <div class="block">
    <label>Status</label>
    <div class="status">In-Active</div>
  </div>

    <!-- Bus model id -->
  <div class="block">
    <label>Bus Model</label>
    <div class="model">12B23432</div>
  </div>

  
  <!-- Start Time -->
  <div class="block">
    <!-- <label>Start Time</label> -->
    <mat-form-field>
      <mat-select placeholder="Start Time" [formControl]="selected">
        <mat-option *ngFor="let time of time.minutes" [value]="time.value">
          {{time.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
    </mat-form-field>
  </div>

    <!-- End Time -->
  <div class="block">
      <!-- <label>End Time</label> -->
    <mat-form-field>
      <mat-select placeholder="End Time">
        <mat-option value="AM">5:00 AM</mat-option>
        <mat-option value="PM">6:00 AM</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <!-- Assign Route -->
  <div class="block">
      <!-- <label>Route</label> -->
    <mat-form-field>
      <mat-select placeholder="Route">
        <mat-option value="AM">Half Way Tree to Downtown</mat-option>
        <mat-option value="PM">Papine To Downtown</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <!-- Driver -->
  <div class="block">
      <!-- <label>Driver</label> -->
    <mat-form-field>
      <mat-select placeholder="Driver">
        <mat-option value="AM">David East</mat-option>
        <mat-option value="PM">Shaun Grunt</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-card>