.wrapper{
padding: 15px;
}

.avatar{
   margin-top: 5px;
}

.info{
    width: 100%;
   
}

.name, .userType{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userType{
font-weight: 500;
font-size: .8rem;
color: #80808b;
}

.name{
    margin-top: 15px;
}