.wrapper{
padding: 15px;
}

.avatar{
    margin: auto;
    width: 100px;
    height: 100px;
    border: 1px solid #3333;
    background: red;
    border-radius: 50%;
}

.info{
    width: 100%;
   
}

.name, .userType{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userType{
font-weight: 800;
font-size: 18px;
}

.name{
    margin-top: 15px;
}