<div class="wrapper">
  
  <navigation-tag icon="departure_board"></navigation-tag>

  <ul class="list">
    <li *ngFor="let collection of collectionOfRouteSchedules">
        <div class="row_title">
            {{collection?.route}} <span (click)="showAll(collection?.route)">Show All</span>
          </div>
      <div class="row" ng2-carouselamos 
        [items]="collection.schedules"
        [width]="1100"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      >
      </div>

      <ng-template #prev >
        <div class="arrows">
          <mat-icon>arrow_back_ios</mat-icon>
        </div>
      </ng-template>

      <ng-template #next>
        <div class="arrows">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
      </ng-template>

      <ng-template #item let-item let-i="index">
        <schedules [info]=item></schedules>
      </ng-template>
    </li>
  </ul>
</div>

