.wrapper {
  padding: 10px;
  overflow: hidden;
}
.content {
  overflow: hidden;
}
table {
  width: 100%;
}

.table-data {
  overflow-y: scroll;
  height: 410px;
}

.fbutton {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
}
.center{
  text-align: center;
}