<div class="wrapper">
    <navigation-tag icon="departure_board"></navigation-tag>
  <!-- <p>This is the system general assignment, in this view users will be able to assign the following:</p> -->
  <div class="button_group">

    <div class="button_widget">
      Assign Driver
    </div>
    <div class="button_widget">
      Assign Inspector
    </div>
    <div class="button_widget">
      Assign Bus
    </div>
    <div class="button_widget">
      Assign Terminal
    </div>
    
  </div>
</div>