<div class="wrapper">
<div class="top-row">
    <span>Don't have an account </span><button mat-stroked-button (click)="navigate(route.signup)" class="create">Create
      Account</button>
  </div>

  <div class="title">Log into Transico</div>
  <div class="sub-title">Enter your logon details below</div>

 <!-- form group -->
 <form [formGroup]="myForm" class="form" (ngSubmit)="login(myForm.value)">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter username" type="email" formControlName="username">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Password" formControlName="password" type="password">
    <mat-hint>Password must be at least 8 characters or longer</mat-hint>
  </mat-form-field>

  <!-- Submit buttons -->
  <div class="example-full-width">
    <button mat-raised-button color="primary" [disabled]="!myForm.valid">Login</button>
  </div>

  <div class="example-full-width">
      <div class="btn_forget" (click)="navigate(route.forget)">Forget Password</div>
    </div>

</form>


</div>