<div class="wrapper"> 
  
  <div class="content">
    <user-login *ngIf='isLogin'></user-login>
    <active-user-form *ngIf="!isLogin" (close)="switch($event)" [userData]="activeUserData"></active-user-form>
  </div>

  <div class="active-users">
    <ul>
      <li *ngFor="let user of additionalUsers.getUserList()">
        <secondary-users [userObject]="user" displayName="bottom" (userClick)="secondaryUserClick($event)"></secondary-users>
      </li>
    </ul>
  </div>

  

  <version color="dark"></version>

</div>