<div class="wrapper">
    <!-- <div class="test"></div> -->
      <h4>TRANSICO</h4>
      <h1>WELCOME BACK</h1>
      <form>
        <div class="group">
          <input type="text" required> 
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>UserName</label>
        </div> 
          <div class="group">      
              <input type="password" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Password</label>
              <br>
              <div>
                <button class="btn">Login</button>
              </div>
              <!-- <div class="opt">
                  <button class="btn2">Forget Password</button>&nbsp;
                  <button class="btn2">Create Account</button>
              </div>-->
            </div>
      </form> 
      <div class="opt">
          <button class="btn2" (click)="navigate(1)">Forget Password</button>&nbsp;
          <button class="btn2" (click)="navigate(0)">Create Account</button>
      </div>
  </div>
  