.wrapper{
    /* background: red; */
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

table{
    font-size: 12px;
    width: 100%;
    height: 100%;
}


.modules{
    font-size: 12px;
    width: 60%;
}

.status{
    background: green;
    width: 3px;
}

.route{
    text-align: center;
}

th{
    /* background: red; */
}