<div class="wrapper">
    <div class="icon">
      <img src="assets/img/icon2.png">
        <h2>Code Zero</h2>
        <h6>Relentless Pursuit For Innovation</h6>
        <div class="message">
            Design is a way of life, a point of view. It involves the whole complex of visual communications: 
            talent, creative ability, manual skill, and technical knowledge.nAesthetics and economics, 
            technology and sychology are intrinsically related to the process.
          </div>
    </div>
    <div class="test"></div>
  </div>
  