.wrapper{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    height: 500px;
    margin: 5% auto 0 auto;
    overflow: hidden;
    position: relative;
} 

.content{
    width: 60%;
    height: 100%;
    float: left;
}

.leftside{
    width: 40%;
    height: 100%;
    float: left;
    background-image: url("./../../assets/img/1.jpg");
    background-size: cover;
} 

.tint{
    background: black;
    opacity: .8;
    position: relative;
    height: 100%;
} 

.team{
    position: absolute;
    bottom: 10px;
    left: 5px;
    font-size: 9px;
    color: #212122;
    
    
}
